<nav class="main-menu"><ul>
    <li><a href="/about-me/">About me</a></li>
    <li><a href="/about-the-blog/">About the blog</a></li>
    <li><a href="/projects/">Projects</a></li>
    {{! Add there all your static pages}}
</ul></nav>
